<html>
<head>
<title>Transaction Successful</title>
</head>
<body>
<h1 style=" color: green; font-size: 40px; text-align: center; margin-top: 20px;">Transaction<br> Successful</h1>
<img src="../static/status/status.gif" style="height: 550px; width: 600px; margin-left: 32%; display: flex; justify-content: center; align-items: center;">
<a href="http://127.0.0.1:8000/dashb"><p style="text-align: center; font-size: 20px;">Go to Home Page</p></a>
<script>
    history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
    </script>
</body>
</html>