<html>
<head>
  <title> Transaction History | SimpliPay</title>
  <style>
    th{
      font-size:22px;
      font-family:times new roman;
    }
    td{
      font-size:18px;
      padding:10px;
      background-color:lightgrey;
    }
  </style>
</head>

    <body>
<h1>Welcome, {{userid}}</h1>

<h2>Transaction History</h2><br><br><br>
<h3><u>Debit:</u></h3>
<div>
<!--Debit Transaction-->
<table align="center" border="1" cellpadding="5px" cellspacing="0px" width="70%">
    <tr>
    {% for i in t %}
      <th>{{i}}</th>
    {% endfor %}
    </tr>
    {% for k in t1 %}
    <tr>
    {% for j in k %}
      <td align="center">{{j}}</td>
    {% endfor %}
    </tr>
{% endfor %}
  </table>
</div><br><br>


<h3><u>Credit:</u></h3>
<div>
<!--Credit Transaction-->
<table align="center" border="1" cellpadding="5px" cellspacing="0px" width="70%">
    <tr>
    {% for i in t %}
      <th>{{i}}</th>
    {% endfor %}
    </tr>
    {% for k in t2 %}
    <tr>
    {% for j in k %}
      <td align="center">{{j}}</td>
    {% endfor %}
    </tr>
{% endfor %}
  </table>
</div>
</body>
</html>